<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trackre.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trackre.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trackre</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$trackre</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:agyvixfcc0.database.windows.net,1433;Initial Catalog=trackre_db;User ID=CedarITT@agyvixfcc0;Password=gEnesis15:16" Name="Data Source=tcp:agyvixfcc0.database.windows.net,1433;Initial Catalog=trackre_db;User Id=CedarITT@agyvixfcc0;Password=gEnesis15:16" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TrackRE.Models.ApplicationDbContext, TrackRE" MigrationConfiguration="TrackRE.Migrations.Configuration, TrackRE" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:agyvixfcc0.database.windows.net,1433;Initial Catalog=trackre_db;User Id=CedarITT@agyvixfcc0;Password=gEnesis15:16</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>