<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\v11.0;
       AttachDbFilename=|DataDirectory|\aspnet-TrackRE-20140430092105.mdf;                                                        
       Initial Catalog=aspnet-TrackRE-20140430092105;                                                        
       Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="TrackRE" 
       connectionString="Data Source=(LocalDb)\v11.0;
       AttachDbFilename=|DataDirectory|\TrackRE.mdf;                                                       
       Initial Catalog=TrackRE;                                                       
       Integrated Security=True" 
       providerName="System.Data.SqlClient" />
</connectionStrings>